/* Contact */
.contact {
  padding-top: 6rem;
  .description {
    text-align: left;
    max-width: 500px;
    margin: auto;
  }
  input, textarea {
    margin-bottom: 0;
  }
  .form-element {
    margin-bottom: 1.5rem
  }
  .error {
    color: maroon;
  }
  :disabled {
    background: darkgray;
    border: darkgray;
    cursor: not-allowed;
  }
}